<%- include('../partials/head') %>
<script src="/js/second.js"></script>
<%- include('../partials/header') %>
    <div id="top-10-container">
        <h2>Top 10 <%= preference %> Paddles</h2>
        <div class="selector-container">
            <label id="preference-label" for="preference-selector">Top 10 of</label>
            <select id="preference-selector">
                <option value="power" <%= preference == 'power' ? 'selected' : '' %>>power</option>
                <option value="control" <%= preference == 'control' ? 'selected' : '' %>>control</option>
                <option value="spin" <%= preference == 'spin' ? 'selected' : '' %>>spin</option>
            </select>
        </div>
    </div>

    <div class="slideshow-container">
        <% paddles.forEach(paddle => { %>
            <a class="mySlides fade" href="/paddles/<%= paddle.id %>">
                <div class="numbertext"> <%= paddle.rank %> / 10</div>
                <img src="<%= paddle.image %>" style="width:45%; margin: auto;">
                <div class="text"><%= paddle.name %></div>
            </a>
        <% }) %>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>`
    </div>
<%- include('../partials/footer') %>